.count-container {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(224, 224, 224);
  background-color: rgba(66, 66, 66, 0.89);
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
}

.empty {
  display: flex;
  font-size: 30px;
  justify-content: center;
  font-weight: bold;
  color: rgb(155, 155, 155);
  padding: 100px 0px 30px 0px;
}

.icon {
  font-size: 40px;
  font-weight: bold;
}
