
.ul {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  align-items: center;
  /* width: 100%; */
}

.ul_left {
  justify-content: flex-start;
}

.ul_right {
  justify-content: flex-end;
}

.nav-item {
  cursor: default !important;
}

.nav-li {
  padding: 0% !important;
}

.nav-li button {
  padding: 0;
  margin: 0;
}

.lang {
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.lang-menu ul {
  background-color: rgb(139, 139, 139);
  color: white;
  overflow: hidden;
}

.selected-lang {
  background-color: rgba(72, 146, 219, 0.651) !important;
}

.selected-lang:hover {
  background-color: rgba(92, 160, 228, 0.822) !important;
}
/* @media screen and (max-width: 1110px) {
  .nav-li {
    padding: 0.8rem !important;
  }
}
@media screen and (max-width: 960px) {
  .nav-li {
    padding: 0.4rem !important;
  }
} */

@media screen and (max-width: 768px) {
  .ul {
    align-items: flex-start !important;
  }
}
