/*********** marketplace ***********/

/*** marketplace - main slide ***/
.slide-contents {
  height: max-content;
  overflow: hidden;
  text-align: center;
  position: relative;
}
/* slide control-inner */
.slide-control-inner {
  /* z-index: 9; */
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}
.control-btn {
  z-index: 9;
  cursor: pointer;
  display: inline-block;
  width: 3.2em;
  line-height: 3.2em;
  border-radius: 30px;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
.control-btn:hover {
  opacity: 1;
  background: #00000040;
  box-shadow: 2px 2px 12px #00000040;
}
.control-btn:active {
  background: #00000060;
  box-shadow: 2px 2px 8px #00000040;
}
.control-btn .fas {
  vertical-align: middle;
  font-size: 1.6em;
  color: #fff;
}

.carousel-inner {
  height: 38em;
  overflow: hidden;
}
.carousel-inner * {
  height: inherit;
}

.carousel-item {
  transition: transform 1s ease; /* 이미지 슬라이드 속도 */
  width: 100vw;
}

/* slide control-bottom */
.carousel-indicators {
  align-items: center;
}
/* style */
.carousel-indicators li {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 2em;
  height: 5px;
  background: rgb(216, 216, 216) !important;
  border: 0;
  border-bottom: 2px solid rgb(216, 216, 216) !important;
  border-top: 2px solid rgb(216, 216, 216) !important;
  border-radius: 2px;
  transition: 0.3s;
}
.carousel-indicators li:not(:last-child) {
  margin-right: 0.45em;
}
.carousel-indicators li:hover {
  width: 3em;
  background: rgb(112, 112, 112) !important;
  border-bottom: 3px solid rgb(112, 112, 112) !important;
  border-top: 3px solid rgb(112, 112, 112) !important;
}
.carousel-indicators li.active {
  width: 3.6em;
  border-bottom: 5px solid rgb(54, 54, 54) !important;
  border-top: 5px solid rgb(54, 54, 54) !important;
  background: rgb(54, 54, 54) !important;
}
/*** marketplace - main slide end ***/

/* action bar */
.action-bar {
  padding: 0 2em;
}
.action-bar-contents {
  height: 3em;
  overflow: hidden;
}
.action-bar-item {
  position: relative;
  width: 8em;
  height: 100%;
}
.action-bar-content {
  width: 1024px;
  margin: auto;
}

/*** marketplace - product list ***/
.product-page {
  padding: 0 10em; /* 1em */
  margin-bottom: 2rem;
}

.product-pages-list {
  width: 20em;
  margin-bottom: 1em;
}
.card-wrap {
  overflow: hidden;
  padding: 1.8em 1.4em;
  margin: 8px;
  max-width: 648px;
  border-radius: 8px;
  transition: 0.2s;
}
.card-wrap:not(:last-child) {
  margin-bottom: 2em;
}
.card-wrap:hover {
  box-shadow: 2px 2px 16px #00000030;
}

.card-wrap > a {
  overflow: hidden;
  width: 100%;
  height: inherit;
  white-space: nowrap;
}
.token-box {
  overflow: hidden;
  padding: 0;
  height: 15em;
}
.token {
  display: inline-block;
  width: 100%;
  height: inherit;
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 4px;
}

/* card info */
.token-box-info {
  margin-top: 8px;
  width: 100%;
  font-size: 0.87em;
  color: #999;
  font-weight: 400;
  word-break: break-all;
  white-space: normal;
}
.token-data {
  margin: 0 2px 0 6px;
  font-size: 1.2em;
  font-weight: 400;
  color: #616161;
}
/* info 개별 스타일 */
.token-name {
  margin-top: 18px;
}
.token-price .token-data {
  font-weight: 1.4em;
}
.token-eth {
  margin-left: 8px;
}

/* pager */
.market-pager {
  justify-content: center;
  padding: 5em;
}

.market-pager span {
  vertical-align: middle;
}

.page-control-btn {
  line-height: 28px;
  align-items: center;
  cursor: pointer;
  color: #888;
  margin: 0 14px;
}
.page-control-btn .fas {
  margin: 0 4px;
}

.page-number {
  display: inline-block;
  text-align: center;
  width: 28px;
  border-radius: 20px;
  margin: 0 3px;
}

.page-arrow:hover,
.another-page:hover {
  color: #616161;
  font-weight: bold;
}
.page-arrow:hover,
.another-page:active {
  color: #5c9ccc;
}

.select-page {
  font-weight: 600;
  color: #fff;
  background: #5c9ccc;
}

/* MEDIA */
@media screen and (max-width: 767px) {
  .container-fluid {
    flex-direction: column;
    padding: 0 1em;
  }
  .navbar-toggler {
    padding: 0.25rem 0.55rem;
    border: 0;
    background: #ffffff10;
    border-radius: 2px;
  }
  .product-page {
    padding: 0;
  }
  .control-btn {
    opacity: 1;
  }
  .product-pages-list {
    width: 100%;
    height: 40em;
    margin-bottom: 4em;
  }
  .token-box {
    height: 28em;
  }
}

/* pagination */
.MuiPagination-ul .Mui-selected {
  background-color: #5c9ccc !important;
}
